@model RentSiteSolution.DATA.Entity.Apartment.Apartment

<h2>Add Photo</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="files">Select Photos:</label>
        <input type="file" id="files" name="files" multiple required />
    </div>
    <input type="submit" value="Upload" class="btn btn-primary" />
</form>