@model RentSiteSolution.ViewModels.UsersViewModels.MyAccountViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="d-flex flex-column flex-md-row">
    <div class="text-center p-3">
        <h2>My Account</h2>
        <p>Welcome, <strong>@Model.UserName</strong>!</p>
    </div>

</div>
