<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark min-vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Боковая панель</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a asp-area="" asp-controller="Account" asp-action="MyAccount" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "MyAccount" ? "active" : "") text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Информация
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="ApartmentsShow" asp-action="MyApartments" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "MyApartments" ? "active" : "") text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Мои квартиры
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Договоры
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                Документы
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                Помощь
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown mt-auto">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Новый проект...</a></li>
            <li><a class="dropdown-item" href="#">Настройка</a></li>
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
        </ul>
    </div>
</div>